.Product
{
    width: 50%;
    height: 100%;
    max-width: none;
    max-height: 1200px;
    display: block;
    border-radius: 18px
}
.ProductImage{
    width: 100%;
}

.ProdeuctPreview > img {
    width: 100%;
}