.ProductData {
    text-align: center;
    width: 100%;
   
}

.ProductData > h1,p 
{
    margin: 0 8rem 0 8rem;
}

.ProductTitle {
    font-size:2.5rem ;
}

@media only screen and (max-width: 600px) {
 
    .ProductData > h1,p 
    {
        margin: 0 ;
    }
    .ProdeuctPreview
    {
        width: 100%;
        margin-top: 2rem;
    }
        
      }
