
.Id_manage
{
    font-size: 32px;
    line-height: 1.125;
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
    letter-spacing: .004em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.account_manage
{
    font-size: 20px;
    line-height: 1.125;
    font-weight: 600;
    margin-top: 1rem;
    letter-spacing: .004em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.logo
{
    text-align: center;
    margin-top: 1rem;
}

form{
    margin-top: 1rem;
}
.form-control
{
    height: 3rem;
}

