.head {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
}


.body {
    margin: 0;
    padding: 0;
}
.float {
   
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 2rem;
}


.typography-body{
    text-align: center;
    margin-top: 2rem;
}
.section-content-label
{
    font-weight: 600;
    margin-bottom: 0.5em;
    background: rgba(0,0,0,0);
    border-color: #bf4800;
    color: #f56300;
    /* margin-top:4rem; */
}

.product-headline
{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
   

}




.product-price

{
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.cta-links
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}

.link-container > a
{
    border-radius: 2rem;
    width: 4rem;
    text-decoration: none;
}

.arrow-after-more
{
    color: #0a58ca;
}

.button:hover
{
    text-decoration: underline;
}

.body-margin-man
{
    padding: 4rem;
    margin-top: -4rem;
    margin-bottom: -5rem;
}

.image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

}

/* .macbook-air-image > img {
    width: 100%;
} */



.section-content-macbook-pro
{
    background-color: #000;
    color: white;
    margin-top: 4rem;
}

.typography-headline
{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    color: #1d1d1f;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 3rem; */
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #fafafa;
}

    .typography-headline > label {
        margin-top: 3rem;
    }


ul li{
    text-decoration: none;
    list-style-type: none;
    /* margin-bottom: 2rem;
    margin-top: 2rem; */
    
}

.compare-items
{
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 600;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}

.table1
{
    text-align: center;
    display: flex;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
}

.compare-item-child
{
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@media only screen and (max-width: 600px) {
 
.figure > .img {
  width: 100%;
}
  
    
  }
  



/* iphone */
.iphone14_pro_image{
    margin-bottom: 0rem;
}

.ipad
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

@media only screen and (max-width: 600px) {
  .macbook-air-image > img {
    width: 100%;
  }
  .iphone14_pro_image > img {
    width: 100%;
  }
  .product-headline
  {
    font-size: 23px;
  }
  .product-price
  {
    font-size: 14px;
  }
  .link-container
  {
    font-size: 12px;
  }
  
    
  }
  



  .device-content
  {
    text-align: center;
  }

  .model-man{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;
  }


  /* ipad */
  .Img_Man{
    width:80%;
   
  }
  .product_para {
    font-size: 30px;
    line-height: 1.109375;
    font-weight: 600;
    letter-spacing: -0.0025em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
 .ipad-man{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .Manage {
    display: flex;
    justify-content: center;
    align-items: center;
   
 }
 @media only screen and (max-width: 600px) {
  .Manage{
    flex-wrap: wrap-reverse;
    gap: 4rem;
  }
  .Img_Man{
    width: 90%;
  }
    }
    
    .section-content-macbook-pro{
         text-align: center;
    }
  
  



    /* mywatch css */
    

.MainContainer{
  padding: 5% 0%;
  margin-top: 32px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.ProdeuctPreview{
  width: 50%;
  position: relative;
 

}
.TimeAction{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 48px;
  font-weight: 600;
}
.HeartBeatSection{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 48px;
  font-weight: 600;
}
.HeartBeatSection > i {
   color: red;
   animation: beat 1s infinite ;
}
 .HeartBeatSection > p{
  margin-top: 16px;
 }
 
 @keyframes beat{
  0%{
    transform: scale(1.2, 1.2)
  }
  50%{
    transform:scale(1.2,1.2);
   }
   
 }
.ProdeuctPreview > img{
 width: 75%;


}



.ProductData{
  width: 50%;
}
.ProductTitle{
  font-size: 48px;
  font-weight: 600px;
  /* margin-top: 0;
  margin-bottom: 16px; */
}
.ProductDescription {
  font-size: 25px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: .004em;
  font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  display: block;
}

.TitlePrice{
  font-weight: 600;
    margin-top: 22px;
    margin-bottom: 23px;
    font-size: 21px;
}
.TitlePrice > p {
  font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-top: 14px;
}

.SectonHeading{
  font-size: 28px;
  margin-bottom: 8px;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.ProductImage{
  width: 100%;
  max-width: 80px;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
}
.ProductImage:hover{
  border: 2px solid teal;
}
.FeatureItem{
  background-color: gainsboro;
  border-radius: 8px;
  border: 0;
  padding: 12px 24px;
  min-width: 80px;
  cursor: pointer;
  margin: 5px;
  text-align: center;
  font-weight: 600;
  box-sizing: content-box;
}
.PrimaryButton{
  color: white;
  background-color: teal;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  margin-top: 36px;
}
.WatchName{
  color: orange;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}

li {
  margin-bottom: 1rem;
}